.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__asQc4 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-CL1oZGnInxdWU3);
  width: 100%;
  min-width: 0;
}
.freeBox__asQc4 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__asQc4 > :global(.__wab_flex-container) > *,
.freeBox__asQc4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__asQc4 > :global(.__wab_flex-container) > picture > img,
.freeBox__asQc4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__asQc4 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__asQc4 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__asQc4 > :global(.__wab_flex-container) > *,
  .freeBox__asQc4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__asQc4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__asQc4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wWzdS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__wWzdS {
    justify-content: center;
  }
}
.freeBox__qAo23 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__jn0KO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__jn0KO {
    text-align: center;
  }
}
.freeBox___2QQtM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___2QQtM {
    align-self: center;
    justify-content: center;
  }
}
.svg___4SzEz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__kMtby {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__cnoZr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__aLui {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column___0RcVk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___0RcVk {
    justify-content: center;
  }
}
.h4__ezxIw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__ezxIw {
    text-align: center;
  }
}
.button__a5T6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__a5T6:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__wfEcd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wjFma {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__wjFma {
    text-align: center;
  }
}
.svg__uOu8V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__l8DOc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__l8DOc:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__i908 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___5AgT6 {
  color: #92959b;
}
.svg__iu6Im {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___3UhgZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___3UhgZ:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__k4HcE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__sgrjb {
  color: #92959b;
}
.svg__wOcnG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__i93RI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__i93RI:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__obo94 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kLj {
  color: #92959b;
}
.svg__fiMDc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__kU1Ab {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__kU1Ab {
    justify-content: center;
  }
}
.h4__qHfe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__qHfe {
    align-self: center;
    text-align: center;
  }
}
.button__bired:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__bired:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__zfF8K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___3VhCb {
  color: #92959b;
}
.svg__ylmv4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__kj7KP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__kj7KP:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__opUXc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uc5Ih {
  color: #92959b;
}
.svg__cib9P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__ep7Xw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ep7Xw {
    justify-content: center;
  }
}
.h4__ccXm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__ccXm {
    align-self: center;
    text-align: center;
  }
}
.button__jOgVt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__jOgVt:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___5Zt2S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cGNjD {
  color: #92959b;
}
.svg__lHVxN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__cw0Xp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__cw0Xp:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__bh5L3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__h7H4W {
  color: #92959b;
}
.svg__lIZoh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tKb7J:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__tKb7J:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__sd2Jd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rqJYs {
  color: #92959b;
}
.svg__cdl6A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___7Jpr4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__cXhQo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__cXhQo {
    padding-top: 129px;
  }
}
